{% extends 'core/base.html' %}
{% load static %}
{% block title %}Amistades{% endblock %}
{% block content %}

<div class="card">
    <div class="card-header">Lista de Amigos.</div>
    <div class="card-body">
        <h4 class="card-title">Amigos</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">Foto</th>
                        <th scope="col">Mensaje</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for friendship in friendship_list %}
                    {% if friendship.friendship_user1.user == request.user %}
                    <tr class="">
                        {% if friendship.friendship_user2.avatar %}
                        <td><img
                            src="{{ friendship.friendship_user2.avatar.url }}"
                            class="img-fluid rounded-circle"
                            alt=""
                            width="75"
                            height="75"
                        />
                        {% else %}
                        <td><img
                            src="{% static 'registration/img/no-avatar.jpg' %}"
                            class="img-fluid rounded-circle"
                            alt=""
                            width="75"
                            height="75"
                        />
                        </td>
                        {% endif %}
                        </td>
                        <td>{{friendship.friendship_user2.user}} Es tu amigo</td>
                        <td>
                            {% if request.user != friendship.friendship_user2.user %}
                            <a href="{% url 'messenger:start' friendship.friendship_user2.user.username %}" class="btn btn-primary btn-sm btn-block mt-3">
                                Enviar mensaje
                            </a>
                            {% endif %}
                            | 
                            <a class="btn btn-danger btn-sm " href="" role="button"> Eliminar </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>


{% endblock %}