{% extends 'core/base.html' %}
{% load static %}
{% block title %}Amistades{% endblock %}
{% block content %}

<div class="card">
    <div class="card-header">Solicitudes de amistad.</div>
    <div class="card-body">
        <h4 class="card-title">Solicitudes</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">Foto</th>
                        <th scope="col">Mensaje</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for friend in friendship_list %}
                    <tr class="">
                        <td><img
                            src="{{ solicitud.cuenta_solicitante.foto_perfil.url }}"
                            class="img-fluid rounded-circle"
                            alt=""
                            width="75"
                            height="75"
                        />
                        </td>
                        <td>{{solicitud.cuenta_solicitante.nickname}} Es tu amigo</td>
                        <td>
                            <a class="btn btn-info btn-sm " href="" role="button"> Enviar Mensaje </a> 
                            | 
                            <a class="btn btn-danger btn-sm " href="" role="button"> Eliminar </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>


{% endblock %}